body {
    background-color: #0595B5;

  }

hr {
    border-style: none;
    border-top-style: groove;
    border-color: lightblue;
    border-width: 2px;
    width: 8%;
  }

h1 {
    color: #345B63;
}

h3  {
    color: lightblue;
}
